.button {
  height: 60px;
  border-radius: 70px;
  background-color: $blue;
  width: auto;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  align-content: center;
  cursor: pointer;
  color: white;
  font-weight: bold;
  font-size: 14px;
  user-select: none;
  padding: 0 50px;
  overflow: hidden;
  position: relative;
  transition: 0.3s ease-in-out;
  border: 1px solid $blue;
  &:hover {
    color: $blue;
    background-color: white;
  }
  .slot {
    position: relative;
    z-index: 1;
  }
  &.outline {
    background-color: white;
    color: $gray;
    &:hover {
      background-color: $blue;
      color: white;
    }
  }
}