@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800&display=swap');
@import "colors";
@import "button";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.container {
  width: 1110px;
  margin: 0 auto;
  &.wide {
    width: 1280px;
  }
}

a {
  color: inherit;
  text-decoration: unset;
}
